{% extends 'personal/base.html' %}


{% block content %}
<main class="container mt-2">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            
            <form action="{% url 'nuevo' %}" method="POST" class="card card-body">
                <h2 class="text-center">Registro</h2>
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                    
                </table>
                <button  type="submit" class="btn btn-dark">Agregar</button>
        
            </form> 


        </div>
    </div>
</main>
{% endblock %}

