
body {
    font-family: Arial, sans-serif;
    background-color: #c71717;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #666;
    background-color: #c71717;
}

/* Agrega estilos para la barra de navegación aquí si es necesario */

